.dashboard-container {
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url('back-1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  overflow: hidden;
}

.left-div {
  width: 35%;
}

.right-div {
  width: 65%;
  height: 84vh;
  background-color: rgba(43, 42, 42, 0.8);
  border-radius: 10px;
}

.badge-div {
  height: 33vh;
  background-color: rgba(43, 42, 42, 0.8);
  border-radius: 10px;
}

.profile-div {
  height: 50vh;
  background-color: rgba(43, 42, 42, 0.8);
  border-radius: 10px;
  margin-top: 1em;
  color: white;
}
.image-nickname {
  height: 65%;
}

.dash-image {
  height: 80%;
  width: fit-content;
  border-radius: 50%;
}

.dash-user-nickname {
  font-size: 2em;
}

.dash-user-points {
  font-size: 3em;
}

//////////////// level bar //////////////////


.dash-level-bar {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #F89A0E;
  text-align: center;
  color: white;
  border-radius: 10px;
  transition: width 0.3s;
}

.smaller-font {
  font-size: medium;
}

/////////////////////////////filters///////////////////////////

.game-stats {

}

.stat-lev {
  height: 100%;
}

.global-stats {
  width: 60%;
}

.specific-stats {
  width: 40%;
}

.filt {
  background-color: rgba(230, 81, 81, 0.8);
  width: 12em;
  font-size: 15px;
  padding: 1em 2em;
  border-radius: 15px;
  text-align: center;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.filt:hover {
  border-color: #ff9800;
  box-shadow: 0 0 10px #ff9800, 0 0 20px #ff9800, 0 0 30px #ff9800;
  transform: scale(1.10);
}

.game-lev {
  color: white;
}

///////////charts//////////////////

.pie-chart {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: conic-gradient(
    #06f112 0% calc(var(--good-percent) * 1%),
    #ff0400 calc(var(--good-percent) * 1%) 100%
  );
}

.label {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.div-percent {
  font-size: 30px;
  color: white;
}
