#photo-joueur {
  height: 500px;
}

.answer-user {
  font-size: 4rem;
  color: white;
}

.page-container {
  min-height: 100vh;
  max-height: 100vh;
  background-image: url("kobe-3");
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.game-title {
  backdrop-filter: blur(3px) saturate(0%);
  -webkit-backdrop-filter: blur(3px) saturate(0%);
  background-color: rgba(7, 7, 7, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  width: 80%;
  height: 10vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  margin-top: 2rem;
  min-height: 80vh;
  max-height: 80vh;
  min-width: 80vw;
  max-width: 80vw;

}

.game-number {
  font-family: fantasy;
  color: white;
  font-size: 180%;
}

.game-flow {
  width: 50%;
  backdrop-filter: blur(3px) saturate(0%);
  -webkit-backdrop-filter: blur(3px) saturate(0%);
  background-color: rgba(7, 7, 7, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);

}

.game-score {
  width: 20%;
  backdrop-filter: blur(3px) saturate(0%);
  -webkit-backdrop-filter: blur(3px) saturate(0%);
  background-color: rgba(7, 7, 7, 0.53);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  margin-left: 1rem;
  color: white
}

.game-progress {
  height: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-family: fantasy;
  color: white;

}

.player-image {
  height: 60%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#image {
  max-width: 80%;
  min-height: 80%;

  object-fit: cover;
  border-radius: 10%;
}

.player-input {
  height: 10%;
}

.progress-background {
  background-color: white;
}

.orange {
  color: rgb(249, 189, 79);
  background-color: rgb(249, 189, 79);

}

.one {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ten {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.player-input {
  width: 80%;
  margin-left: 8rem;
}

input[type="text"] {
  width: 80%;
  height: 80%;
  padding: 5px;
  margin: 10px 0;
  border: 2px solid rgb(247, 167, 20);
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  font-family: fantasy;
}

.question-number {
  font-size: 22px;
  font-family: fantasy;
}


.score-title {
  font-size: 38px;
  font-family: fantasy;
}

.score-points {
  font-size: 28px;
  font-family: fantasy;
}

// .visual {
//   position: absolute;
//   left: -9999px;
//   /* Déplace l'élément hors de la zone visible */
//   top: -9999px;



//   .img {
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//   }
// }

.img-container {
  height: 60%;
  width: 80%;
}

.crossed {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.checked {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}
