
* {
  // box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Luckiest Guy", cursive;
}

h1 {
  font-size: 6rem;
  color: white;
  margin-bottom: 4rem;
}

h2 {
  font-size: 4rem;
}


.hidden {
  display: none;
}

.page-container-ok {
  height: 100vh;
  background-image: url('back-2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-container {
  width: 20vw;
  height: 36vh;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(43, 42, 42, 0.8);
}

.card .front-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .front-content p {
  font-size: 32px;
  font-weight: 700;
  opacity: 1;
  background: linear-gradient(-45deg, #f8f9f8 0%, #ffa331 100% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  color: #e8e8e8;
  padding: 27px;
  line-height: 1.5;
  border-radius: 5px;
  pointer-events: none;
  transform: translateX(-92%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  text-decoration: none;
}

.easy-card .card-container .card .content {
  background: linear-gradient(-45deg, #070707 0%, #02da10 100% );
}

.medium-card .card-container .card .content {
  background: linear-gradient(-45deg, #070707 0%, #1977fa 100% );
}

.hard-card .card-container .card .content {
  background: linear-gradient(-45deg, #070707 0%, #f9d909 100% );
}

.legend-card .card-container .card .content {
  background: linear-gradient(-45deg, #070707 0%, #e43301 100% );
}

.easy-card .card-container  {
  box-shadow: rgba(66, 255, 84, 0.796) 0px 22px 70px 4px;
}

.medium-card .card-container  {
  box-shadow: rgba(4, 102, 249, 0.796) 0px 22px 70px 4px;
}

.hard-card .card-container  {
  box-shadow: rgba(243, 254, 24, 0.905) 0px 22px 70px 4px;
}

.legend-card .card-container  {
  box-shadow: rgba(246, 80, 3, 0.796) 0px 22px 70px 4px;
}
.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  transform: translateY(0);
}

.card:hover .front-content {
  transform: translateX(-30%);
}

.card:hover .front-content p {
  opacity: 0;
}

.cards-container {
  // display: flex;
  // justify-content: center;
  // gap: 2em;
}

.text-deco {
  text-decoration: none;
}
