// Import page-specific CSS files here.
@import "home";
@import "game";
@import "navbar";
@import "rankings";
@import "form";
@import "phone";
@import "home_mobile";
@import "modal";
@import "dashboard";

body {
  font-family: "Luckiest Guy", cursive;
}

h2 {
  font-family: "Luckiest Guy", cursive;
}

h5 {
  font-family: "Luckiest Guy", cursive;
}
