.rankings-container {
  height: 100vh;
  background-image: url('back-2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
}

.score-board {
  height: 100%;
  background-color: rgba(43, 42, 42, 0.8);
  border-radius: 15px;
  padding: 2em;
  overflow-y: auto;
}

.container-boards {
  height: 86vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
  padding-top: 2em;
  padding-bottom: 2em;
}

.scorer {
  height: 5vh;
  display: flex;
  margin-bottom: 4px;
  justify-content: start;
  background-color: rgba(248, 146, 73, 0.5);
  border-radius: 2px;
  align-items: center;
  padding-left: 2em;
}

.search-bar input {
  padding: 5px;
  margin: 10px 0;
  border: 2px solid rgb(247, 167, 20);
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
  font-family: fantasy;
  height: 8vh;
}

.pl-img {
  height: 90%;
  object-fit: cover;
  border-radius: 50%;
}

.user-nickname {
  margin-left: 4em;
  color: white;
  flex-grow: 1;
}

.user-points {
  margin-right: 2em;
  color: white;
}

.highlight {
  border: 2px solid #0ba0eb;
  border-radius: 5px;
}
