<div class="page-container-mobile">
    <%= link_to start_easy_game_path, method: :post, class: 'text-deco' do %>
    <div class="card-container-mobile easy-mobile">
      <div class="card-mobile">
        <h2>Rookie</h2>
        <p>Gagne <strong>10 points</strong> par joueur facilement reconnaissable. Attention à l'orthographe !</p>
      </div>
    </div>
    <% end %>

    <%= link_to start_medium_game_path, method: :post, class: 'text-deco' do %>
    <div class="card-container-mobile medium-mobile">
      <div class="card-mobile">
        <h2>Sophomore</h2>
        <p>Gagne <strong>30 points</strong> avec des joueurs moins connus. Prêt à tester tes connaissances ?</p>
      </div>
    </div>
    <% end %>

    <%= link_to start_hard_game_path, method: :post, class: 'text-deco' do %>
    <div class="card-container-mobile hard-mobile">
      <div class="card-mobile">
        <h2>Senior</h2>
        <p>Gagne <strong>50 points</strong> avec des joueurs rares. Réservé aux experts NBA !</p>
      </div>
    </div>
    <% end %>

    <%= link_to start_legend_game_path, method: :post, class: 'text-deco' do %>
    <div class="card-container-mobile legend-mobile">
      <div class="card-mobile">
        <h2>Hall of Famers</h2>
        <p>Gagne <strong>100 points</strong> si tu reconnais les légendes ! Prêt pour le défi ultime ?</p>
      </div>
    </div>
    <% end %>
  </div>
