<div class="dashboard-container">
  <%= render 'shared/navbar' %>
  <div class="dash-container d-flex flex-column">
    <div class="left-div d-flex flex-column">
      <div class="profile-div d-flex flex-column align-items-center justify-content-between">
        <div class="image-nickname d-flex flex-column align-items-center">
          <% if @user.photo.attached? %>
            <%= cl_image_tag @user.photo.key, class: "dash-image mt-4" %>
          <% end %>
            <div class="dash-user-nickname mt-2"><%= @user.nickname %></div>
            <div class="dash-user-level"></div>
        </div>
          <div class="dash-level-bar"></div>
          <div class="dash-user-points mt-2 mb-2"><%= @user.points > 1 ? "#{@user.points} points" : "#{@user.points} point" %></div>
      </div>

      <div class="badge-div">
      </div>
    </div>

    <div class="right-div d-flex flex-column">
      <div class="game_stats">
      </div>
    </div>
  </div>
</div>
