
<div class="page-container-ok">
  <%= render 'shared/navbar' %>

  <div>
    <div class="block-button">
      <%= link_to 'Jouer maintenant', choose_game_path, class: 'btn btn-orange btn-lg' %>
    </div>
  </div>
</div>
