<h1>Blind test for ballers</h1>

<%= link_to new_player_path do  %>
<div class="button-classic">Add your own player</div>
<% end %>


<%= link_to new_game_path, class: 'btn btn_primary' do %>
  <div class="game">
    <h2>Start a game</h2>
  </div>
<% end %>
