<h1>Blind test for ballers</h1>

<%= link_to new_player_path do  %>
<div class="button-classic">Add your own player</div>
<% end %>

<div class="container-home">
  <div id="home" class="flex-column flex-center">
    <h1>Basketball Players Knowledge Test</h1>
    <%= link_to start_game_path, method: :post, class: 'btn-home' do %>
      <h2>Play</h2>
    <% end %>
  </div>
</div>
