<div class="new-game">
  <h2>Start a game</h2>


</div>

<h1>Welcome to the best ballers Quizz. Test your knowledge !</h1>

<div class="container-quizz">
  <div class="home">
    <h1>Are you ready?</h1>
    <%= simple_form_for @game do |f| %>
      <%= f.input :name, placeholder: 'How do you want to call your game?' %>
      <%= f.button :submit %>
    <% end %>
    <%# <%= link_to leaderboard_path(@game) do %>
      <%# <div class="leader">Leaderboard</div>
    <% end %> 
  </div>
</div>
