<h1>Welcome to the best ballers Quizz. Test your knowledge !</h1>

<div class="container-quizz">
  <div class="image-player">
    <img id="photo-joueur" src="" alt="">
  </div>

  <div class="answer-user">
    <div class="answer"></div>
    <div class="response">
      <input type="text" id="user-answer" placeholder="Entrez la réponse">
      <button class="bout">Vérifier</button>
    </div>
  </div>
</div>
