<!------------------------ MODALE FIN DE GAME ---------------------------------------->
<div class="modal fade" id="endGameModal" tabindex="-1" aria-labelledby="endGameModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title text-center" id="endGameModalLabel">Fin de la Partie</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>Jeu terminé! Votre score est de <span id="modalMessage"></span>!</p>

      </div>
      <div class="modal-footer d-flex align-items-end">
        <%= link_to "Jouer à nouveau", start_game_path_for(@game), class:"btn" %>
        <a href="/" class="btn-small">Retour à l'accueil</a>
      </div>
    </div>
  </div>
</div>


<div class="page-container">
  <div class="game-title">
    <div class="game-number">
      <%= @game.name  %>
    </div>
  </div>

  <div data-controller='game' class="game-container" data-game-level-value="<%= @game.level %>">
    <div class="game-flow d-flex flex-column align-items-center justify-content-around">
      <div class="game-progress">
        <div data-game-target='questionNumber' class="question-number d-flex flex-column justify-content-center">Joueur 1/10</div>
        <div class="progress-container-bar d-flex flex-column justify-content-center">
          <div class="progress-game-bar d-flex">
            <div data-game-target='one' class="one progress-background">00</div>
            <div data-game-target='two' class="two progress-background">00</div>
            <div data-game-target='three' class="three progress-background">00</div>
            <div data-game-target='four' class="four progress-background">00</div>
            <div data-game-target='five' class="five progress-background">00</div>
            <div data-game-target='six' class="six progress-background">00</div>
            <div data-game-target='seven' class="seven progress-background">00</div>
            <div data-game-target='eight' class="eight progress-background">00</div>
            <div data-game-target='nine' class="nine progress-background">00</div>
            <div data-game-target='ten' class="ten progress-background">00</div>
          </div>
        </div>
      </div>

      <div class="player-image">
        <img data-game-target='playerImage' id="image" class="" src="" alt="" >
        <div class="timer">
          <span data-game-target="timer" class="clock"></span>
        </div>
      </div>

      <div class="player-in">
        <input data-action="keydown->game#handleKeyDown" data-game-target="playerInput" type="text" id="player-input" placeholder="Entrez votre réponse">
        <%= link_to "Retour Acceuil", root_path, class: "d-none return-button btn" %>
      </div>
    </div>

    <div class="game-score">
      <div class="score-title">SCORE</div>
      <div class='score-phone'>
        <div data-game-target='scoreVisual' class="score-visual" ></div>
        <div data-game-target='score' class="score-points"></div>
      </div>
    </div>

  </div>
    <%# <div class="btn-home start-game mt-3">
          <h2>START</h2>
    </div> %>

</div>
