<div class="page-container d-flex flex-column align-items-center justify-content-between">

  <div class="game-title">
    <div class="game-number">
      <%= Game.find(params[:id]).name  %>
    </div>
  </div>

  <div data-controller='game' class=" game-container d-flex justify-content-center">
    <div class="game-flow d-flex flex-column align-items-center justify-content-around">
      <div class="game-progress">
        <div data-game-target='questionNumber' class="question-number d-flex flex-column justify-content-center">Joueur 1/10</div>
        <div class="progress-container-bar d-flex flex-column justify-content-center">
          <div class="progress-game-bar d-flex">
            <div class="one progress-background">00</div>
            <div class="two progress-background">00</div>
            <div class="thee progress-background">00</div>
            <div class="four progress-background">00</div>
            <div class="five progress-background">00</div>
            <div class="six progress-background">00</div>
            <div class="seven progress-background">00</div>
            <div class="eight progress-background">00</div>
            <div class="nine progress-background">00</div>
            <div class="ten progress-background">00</div>
          </div>
        </div>
      </div>

      <div class="player-image">
         <img data-game-target='playerImage' id="image" class="" src="" alt="" >
      </div>

      <div class="player-in">
        <input data-action="keydown->game#handleKeyDown" data-game-target="playerInput" type="text" id="player-input" placeholder="Entrez votre réponse">
      </div>
    </div>

    <div class="game-score d-flex flex-column align-items-center justify-content-around">
      <div class="score-title">SCORE</div>

      <div class="score-visual" >
        <div class="checked  d-flex flex-column align-items-center justify-content-center" style="">
          <div class="img-container"><img src="<%= asset_path('checked.png') %>" alt="" id="image" class=""></div>
          <div class="score-message">C'est fort, bravo!</div>
        </div>
        <div class="crossed  visual d-flex flex-column align-items-center justify-content-center" style="">
          <div class="img-container"><img src="<%= asset_path('crossed.png') %>" alt="" id="image" class=""></div>
          <div class="score-message" >C'est nul, essaie encore!</div>
        </div>
      </div>

      <div class="score-points">Points:</div>
    </div>

  </div>
    <%# <div class="btn-home start-game mt-3">
          <h2>START</h2>
    </div> %>

</div>
