<div class="page-container">

  <div class="game-title">
    <div class="game-number">
      <%= Game.find(params[:id]).name  %>
    </div>
  </div>

  <div class="game-container d-flex justify-content-center">
    <div class="game-flow d-flex flex-column align-items-center justify-content-around">
      <div class="game-progress">
        <div class="question-number d-flex flex-column justify-content-center">Question 1/10</div>
        <div class="progress-container-bar d-flex flex-column justify-content-center">
          <div class="progress-game-bar d-flex">
            <div class="one progress-background">00</div>
            <div class="two progress-background">00</div>
            <div class="thee progress-background">00</div>
            <div class="four progress-background">00</div>
            <div class="five progress-background">00</div>
            <div class="six progress-background">00</div>
            <div class="seven progress-background">00</div>
            <div class="eight progress-background">00</div>
            <div class="nine progress-background">00</div>
            <div class="ten progress-background">00</div>
          </div>
        </div>
      </div>

      <div class="player-image">
         <img src="<%=Player.first.photo %>" alt="" id="image">
      </div>

      <div class="player-input">
        <input type="text" id="player-input" placeholder="Entrez votre réponse">
        <button class="bout">Vérifier</button>
      </div>
    </div>

    <div class="game-score">
      <div class="score-title">LIVE SCORE</div>

      <div class="score-visual"></div>
      <div class="score-message"></div>
      <div class="score-points"></div>
    </div>
  </div>

</div>
